  .navbar {
    z-index: 10;
    height: 110px;
    width: 100%;
    background: rgba(0, 0, 0, 0.006) !important;
    /* background: rgba(0, 0, 0, 0.162) !important; */
    position: fixed;
    top:0;
    left:0;
    transition: background-color 0.4s ease-out, height 0.4s ease-out;

  }
  .navbar:hover{
    background: linear-gradient(to bottom, rgba(0, 0, 0, .3), rgba(0, 0, 0, 0)) !important;
  }

.navbar.scroll {
    background: white !important;
    height: 80px; /* Nouvelle hauteur */
}
.navbar.scroll .navLink {
    z-index: 10;
    color:#333;
    font-size: 18px;
    font-weight: bold;
     letter-spacing: 1.5px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    /* font-weight: 600; */
    transition: color 0.3s;
  }
  .navbar.scroll .navLink:hover, .logo:hover{
    /* mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .2) 30%, #000 50%, rgba(0, 0, 0, .2) 70%); */
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .2) 30%, #000 50%, rgba(0, 0, 0, .2) 70%);
    mask-size: 200%;
    animation: shine 3s infinite;
    transition: .4s;
}
  .scrollIconBar {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    z-index: 10;
   background: #333 !important;
  }
  
  .navContainer {
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    max-width: 80vw;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.menuIcon {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background: transparent;
    padding: 0;
    z-index: 10;
  }
  
  .iconBar {
    width: 25px;
    height: 3px;
    margin: 3px 0;
    z-index: 10;
    background-color: antiquewhite;
  }
  
  .navLinks {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    gap:20px;
  }
  
  .navItem {
    margin-right: 20px;
  }
  
  .navLink {
    z-index: 10;
    color:antiquewhite;
    font-size: 18px;
    font-weight: bold;
     letter-spacing: 1.5px;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
    /* font-weight: 600; */
    transition: color 0.3s;
  }
  .navLink:hover, .logo:hover{
    mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .2) 30%, #000 50%, rgba(0, 0, 0, .2) 70%);
    mask-size: 200%;
    animation: shine 3s infinite;
    transition: .4s;
}
@keyframes shine {
	from {
		mask-position: 150%;
	}
	to {
		mask-position: -50%;
	}
}


@-webkit-keyframes shine {
	from {
		-webkit-mask-position: 150%;
	}
	to {
		-webkit-mask-position: -50%;
	}
}


  /* Styles for mobile menu */
  @media (max-width: 768px) {
    .menuIcon {
      display: flex;
      border: none;
      outline: none;
    }
  
    .navLinks {
      flex-direction: column;
      position: absolute;
      /* top: 90px; */
      top:0;
      left: 0;
      width: 100%;
      background-color: white;
      transform: translateY(-100%);
      opacity: 0;
      transition: transform 0.4s, opacity 0.4s;
      gap: 0px;
    }
  
    .navLinks.open {
      transform: translateY(0);
      opacity: 1;
    }
  
    .navItem {
      margin: 0;
      width: 100%;
      text-align: center;
      padding: 15px 0;
    }
  
    .navItem:last-child {
      border-top: 1px solid #ddd;
    }
  
    .logo img{
        height: 45px;
        width: 110px;
      }
    .navLink {
      font-family: 'Mukta', sans-serif;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
    .navLinks.open {
    transform: translateY(0);
    opacity: 1;
  }
  .open {
    transform: translateY(0);
    opacity: 1;
  }
  }