.main {
    margin-top: 100px;
}

/* Section mainTile  */
.sectionMainTitle{
    position: relative;
    height: 65vh;
    width: 100%;
    /* margin-bottom: 50px; */
}
.mainTitleBackground{
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../../public/assets/ressources/project1-image9.jpeg);
    background-position: center;
    filter: brightness(50%);
}
.sectionMainTitle h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: 600;
    z-index: 10;
    opacity: 0;
    animation: fadeIn .5s ease-in-out forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

/* Section presentation */
.sectionPresentation{
    min-height: 70vh;
    width: 100%;
    padding: 100px 50px;

    background-color: #F6EEE3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.prezContainer, .philosophyContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap-reverse;
    width: 100%;
}
.prezTitle, .prezContent, .philosophyContent, .philosophyTitle {
    padding: 50px;
    width: 50%;

    /* border: 1px solid red; */
}
.philosophyTitle , .prezTitle {
    text-align: center;
    height: auto;
    color: #C2B49E;
    font-size: 25px;
}
.prezContent , .philosophyContent {
    color: #4F3726;
    font-size: 20px;
    letter-spacing: 0,08em;
    font-family: 'Mukta', sans-serif;
    font-weight: 600;

}
     
/* Section philosophy */

   
    .philosophytitle {
        color: #C2B49E; 
        font-size: 25px;
        margin-bottom: 20px;
    }

    .philosophycontent {
        color: #4F3726; 
    }

  
    .philosophycontent p {
        margin-bottom: 15px;
    }


    /* Section Principes  */

    .sectionPrincipes {
        text-align: center;
        padding-top: 50px; 
        padding-bottom: 100px;
        background: #E5E0E6;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
    }

    .sectionPrincipes  h2 {
        color: #4F3726; 
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.08em;
        margin-bottom: 40px;  
        margin-top: 20px;      
        text-align: center;
    }
    .sectionPrincipes h3 {
        color: #F6EEE3;
        font-size: 30px;
        margin-bottom: 30px;
        width: 100%;
        font-weight: 600;
        letter-spacing: 0.08em;
        
    }
    .sectionPrincipes p {
        color: #4F3726; 
        color: #F6EEE3;
        font-size: 20px;
        margin-bottom: 30px;
        max-width: 70%;
        font-family: 'Mukta', sans-serif;
        font-weight: 300;

    }

    .valueContainer {
        height: 400px;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }
    .textValue p{
    }
    .textValueContainer1 {
        background-color: #5D563F;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 50px;
    }
    .textValueContainer2 {
        background-color: #916C52;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 50px;
    }
    .textValueContainer3 {
        background-color: #7F6F50;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 50px;
    }
    .textValueContainer4 {
        background-color: #AC9D8D;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 50px;
    }
    .textValueContainer5 {
        background-color: #969594;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 70%;
        padding: 50px;
    }
    .imageContainer{
        width: 30%;
        height: 400px;
        object-fit: cover;
        background: #000;
    }
    .imageContainer img{
       width: 100%;
        height: 100%;
        object-fit: cover;
        background: #000;
        object-position: center;
    }
    .imageContainerImg{
        object-fit: cover;
        width: 100%;
        
    }


        /* Section carousel  */
       .sectionCarousel{
        height: 60vh;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 50px;
       }
       .sectionCarousel h2{
        padding-left: 50px;
        font-size: 36px;
        color: gray;
        font-family: Georgia, 'Times New Roman', Times, serif;
       }



       /* Responsive */
     @media (max-width: 764px) {
        .sectionMainTitle h1 {
            left: 20%;
            transform: translate(-10%, -50%);
        }
        .prezTitle, .prezContent, .philosophyContent, .philosophyTitle {
            padding: 0px;
            width: 100%;
        }
        .prezContainer {
            flex-wrap: wrap;
        }
        .philosophyTitle , .prezTitle {
            margin-bottom: 25px;
            margin-top: 45px;
            font-size: 25px;
        }
        /* Value section responsive  */
        .sectionPrincipes {
        text-align: center;
        padding-top: 50px; 
        padding-bottom: 100px;
        background: #E5E0E6;
        gap: 30px;
    }

    .sectionPrincipes  h2 {
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 0.08em;
        margin-bottom: 40px;  
        margin-top: 20px;      
        text-align: center;
    }
    .sectionPrincipes h3 {
        color: #F6EEE3;
        font-size: 30px;
        margin-bottom: 30px;
        width: 100%;
        font-weight: 600;
        letter-spacing: 0.08em;
        
    }
    .sectionPrincipes p {
        font-size: 20px;
        margin-bottom: 30px;
        max-width: 100%;
        font-family: 'Mukta', sans-serif;
        font-weight: 300;

    }

    .valueContainer {
        height: auto;
        width: 90%;
        flex-direction: column;
        color: white;
    }
 
    .textValueContainer1 {
        background-color: #5D563F;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
    .textValueContainer2 {
        background-color: #916C52;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
    .textValueContainer3 {
        background-color: #7F6F50;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
    .textValueContainer4 {
        background-color: #AC9D8D;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
    .textValueContainer5 {
        background-color: #969594;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        padding: 50px;
    }
    .imageContainer{
        width: 100%;
        height: 400px;
        object-fit: cover;
        background: #000;
    }
    .imageContainer img{
       width: 100%;
        height: 100%;
        object-fit: cover;
        background: #000;
        object-position: center;
    }
    .imageContainerImg{
        object-fit: cover;
        width: 100%;
        
    }
    .valueContainerResp2, .valueContainerResp4{
        flex-direction: column-reverse;
    }
      }