li .open {
    /* font-family: "Montserrat"; */
    font-family: 'Oswald', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #0e182d;
    padding-left: 20px;
    width: 90%;
    text-align: left;
    margin: auto;
    padding-top: 27px;
    padding-bottom: 35px;
    border-radius: 0 0 10px 10px;
  }
.close {
    display: none;
  }
.open {
    display: block;
    background: #f6f6f6;
  }